@import "font";

:root {
  --ff-primary: "Pretendard-Regular", sans-serif;

  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 300;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* general styling  */
body {
  font-family: var(--ff-primary);
}

/* utility */
